
.messages {
  background: #5d5d5d;
  width: 335px;
  bottom: 0;
  position: absolute;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__date p {
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  opacity: .5;
  padding-top: 3%;
  padding-bottom: 2%;
  color: rgba(37, 47, 72, 0.5);
}

.send-field {
  display: flex;
  justify-content: flex-start;
  height: 36px;
}

.send-field__input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}

.send-field__image {
  margin-right: 22px;
  margin-left: 18px;
  cursor: pointer;
  padding: 30px 0px;

}

.send-field__input::placeholder {
  color: rgba(37, 47, 72, 0.2);
}

.send-field__button {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(153, 163, 174, 0.25926);
  border-radius: 7px;
  padding: 0px 10px;
  margin: 21px;
  border: none;
  outline: none;
}

/*----------------------------------------message-field----------------------------------------*/

.chat{
  position: absolute;
  top: calc(100% / 2 - 32px);
  right: calc(100% / 2 - 18px);
  color: #8b8378;
  font-size: 37px;
  font-style: italic;
  font-variant: all-petite-caps;
}


.message-field {
  overflow-y: auto;
}

.message {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.message__friend, .message__user {
  margin-bottom: 11px;
  margin-top: 11px;
}

.message__friend {
  display: flex;
  align-items: flex-end;
  max-width: 295px;
  margin-left: 12px;
}

.message__user {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 12px;
}

.message__content {
  display: flex;
  position: relative;
  width: auto;
  background-color: #f7f9fc;
  border-radius: 5px;
}

.message__friend .message__content::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0px;
  border: 7px solid transparent;
  border-right: 7px solid #f7f9fc;
  border-bottom: 7px solid #f7f9fc;
}

.message__user .message__content::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 0px;
  border: 7px solid transparent;
  border-bottom: 7px solid #f7f9fc;
  border-left: 7px solid #f7f9fc;
}

.message__text {
  padding: 15px 40px 15px 20px;
  color: #222428;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-word;
}

.message__time {
  position: absolute;
  right: 5px;
  color: #9ba0ad;
  font-size: 12px;
  padding-bottom: 3px;
  bottom: 0;
}

.message__username{
  position: absolute;
  left: 5px;
  color: #9ba0ad;
  font-size: 12px;
  padding-bottom: 10px;
  top: 3px;
}

/*----------------------------------------scroll----------------------------------------*/

.message-field {
  &::-webkit-scrollbar {
    width: 4px;
    background: #3a3a3a;
    mix-blend-mode: normal;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 2px;
  }
}
