$header_font: "Roboto", serif;
$header_text_color: #4672fe;
$header_text_color_lite: #809dff;
$no_active_color: #616161;
$active_border: #4672fe;
$active_btn: #4672fe;
$form_color: #FFFFFF;

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.form {
  margin-top: 20px;
  margin-bottom: 60px;
  height: 70%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center
}

.group__headline{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

form {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

::placeholder {
  color: $no_active_color;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
}

.input {
  font-family: $header_font;
  height: 35px;
  width: 70%;
  margin-bottom: 32px;

  input {
    width: 100%;
    outline: none;
    border: none;
  }
}
input{
  color:#FFFFFF;
}

.headline {
  font-family: $header_font;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.105em;
  text-transform: uppercase;
  margin-top: 42px;
  margin-bottom: 56px;
  color: $header_text_color;
}

.group {
  margin-top: 20px;
  display: flex;
  align-self: center;
  width: 80%;
  height: 40px;
  margin-bottom: 42px;
  justify-content: center;
}

.button {
  align-self: center;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.295em;
  width: 80%;
  height: 40px;
  background-color: $active_btn;
  font-family: $header_font;
  color: $form_color;
  border: none;
  cursor: pointer;

  &:disabled {
    color: darkgray;
    background: $no_active_color;
  }
}
