<div class="main">
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <p class="headline">Sign up</p>
    <mat-form-field class="input">
      <input matInput formControlName="login" type="text" placeholder="Login">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput formControlName="first_name" type="text" placeholder="First Name"
             pattern="[A-Z,А-Я,І]{1}[a-z,а-я]{2,20}">
      <mat-error *ngIf="registerForm.get('first_name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.get('first_name').hasError('pattern')">
        Name mast starts with big latter
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput formControlName="last_name" type="text" placeholder="Last name"
             pattern="[A-Z,А-Я,І]{1}[a-z,а-я]{2,20}">
      <mat-error *ngIf="registerForm.get('last_name').hasError('required')">
        Last name is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.get('last_name').hasError('pattern')">
        Last name mast starts with big latter
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput formControlName="password" placeholder="Password" [type]="hidePassword ? 'password' : 'text'"
             pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
        Password is not valid
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input" style="margin-top: 5px;">
      <input matInput formControlName="confirmPassword" placeholder="Confirm password"
             [type]="hideConfirm ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirm">
        <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('confirmPassword').hasError('required')">
        Password confirmation is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="registerForm.get('confirmPassword').hasError('validate')">
        Password is not the same
      </mat-error>
    </mat-form-field>
    <div class="group">
      <button [disabled]="!registerForm.valid" class="button" disabled type="submit"><p style="margin-top: 5px;"
                                                                                              *ngIf="!loading">Sign
        Up</p><img *ngIf="loading"
                   src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" alt="loading"/>
      </button>
    </div>
    <mat-error *ngIf="error" class="error">{{error}}</mat-error>
  </form>
</div>
