<app-navbar></app-navbar>
<div cdkDropListGroup>
  <div class="drags">
    <div class="container" cdkDropList (cdkDropListDropped)="editFile($event)">
      <mat-icon class="open-file">document_scanner</mat-icon>
      <h3>Drag and drop file here</h3>
      <h3>To</h3>
      <h3>EDIT</h3>
    </div>
    <div class="container" appFileDrop (fileDropped)="onFileDropped($event)">
      <input type="file" id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)"/>
      <img src="assets/images/file.svg" alt="">
      <h3>Drag and drop file here</h3>
      <h3>or</h3>
      <label for="fileDropRef">Browse for file</label>
    </div>
    <div class="container" cdkDropList (cdkDropListDropped)="deleteFile($event)">
      <img src="assets/images/delete.svg" alt="">
      <h3>Drag and drop file here</h3>
      <h3>To</h3>
      <h3>DELETE</h3>
    </div>
  </div>
  <div class="files-list">
    <div cdkDropList cdkDropListSortingDisabled class="example-list">
      <div class="single-file" *ngFor="let file of files" [cdkDragDisabled]="file?.progress!=100" cdkDrag>
        <div class="file-icon" style="width: 50px">
          <img src="assets/images/upload.svg" alt="">
        </div>
        <div class="info">
          <h4 class="name">
            {{ file?.name }}
          </h4>
          <div *ngIf="file?.progress!=100" class="progress-cont">
            <div class="progress" [style.width]="file?.progress + '%'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
